dne <%= l @person.membership_request.try(:approved_on) %> schválilo krajské předsednictvo na základě přihlášky Vaše členství u Svobodných. Gratulujeme.

Pro přijetí za člena je třeba uhradit členský příspěvek.

Uhraďte prosím členský příspěvek na rok 2018
ve výši <%=@person.amount%> Kč
na účet č. 2100382818/2010
variabilní symbol <%=@person.vs%>
zpráva pro příjemce: členský příspěvek <%=@person.short_name%>

Děkujeme
