Děkujeme za vyplnění přihlášky při přechodu z příznivce na člena. Přihlášku najdete v příloze tohoto emailu.
Přihlášku si prosím vytiskněte, podepište a přineste ji na vstupní pohovor.

Uhraďte prosím členský příspěvek na rok 2018
ve výši <%=@person.amount%> Kč na účet č. 2100382818/2010
variabilní symbol <%=@person.vs%>
zpráva pro příjemce: členský příspěvek <%=@person.name%>

Členský příspěvek můžete ponížit o částku, kterou jste již zaplatil(a) pro rok 2018 jako příspěvek příznivce.

Prosím dodržte výše uvedený variabilní symbol, jinak bude problém vaši platbu příspěvku identifikovat.

O obdržení platby Vás budeme informovat emailem.

K dokončení přijetí za člena bude následovat vstupní pohovor se členy krajského předsednictva nebo s místním koordinátorem. Někdo z nich Vás bude přibližně do týdne kontaktovat a dohodne termín a místo setkání.

Na vstupním pohovoru předáte podepsanou přihlášku. Pokud budete přijat za člena, zašleme Vám email s potvrzením.
V případě nepřijetí také obdržíte email a vrátíme Vám platbu členského příspěvku.

Svoje osobní údaje a stav žádosti o členství, stejně jako další kontakty můžete najít a zkontrolovat na na https://registr.svobodni.cz.
