Děkujeme za Váš zájem stát se registrovaným příznivcem Svobodných.

Uhraďte prosím příspěvek příznivce na rok 2018
ve výši <%=@person.amount%> Kč
na účet č. 7505075050/2010
variabilní symbol <%=@person.vs%>
zpráva pro příjemce: příspěvek příznivce <%= @person.short_name %>

Prosím dodržte výše uvedený variabilní symbol, jinak bude problém vaši platbu příspěvku identifikovat.

O obdržení platby Vás budeme informovat emailem. Zaplacením příspěvku získáte přístup do sekce pro registrované příznivce a můžete se zapojit do života strany.
Svoje osobní údaje můžete najít a zkontrolovat na na https://registr.svobodni.cz.
